.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
}
th, td {
    border: 1px solid gray;
    padding: 10px;
}
.cards {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
}